* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;

    position: sticky;
}
.logoTipo a img {
    
}
.var a{
    padding-left: 20px;
    text-decoration: none;

    display: flex;
    align-items: center;
}
