<mat-toolbar class="header mat-elevation-z2">
   <span class="LogoTipo">
      <a href="">
        <img src="assets/imgs/logoTipo.png" alt="">
      </a>
   </span>
   <span class="var">
      <a mat- href="">
         <mat-icon  class="material-icons icon" color="primary">
            home
         </mat-icon>
         Home
      </a>
   </span>
   <nav class="menu">
     <ul>
        <li><a href=""><mat-icon>home</mat-icon>Home</a></li>
        <mat-divider></mat-divider>
        <li><a href=""><mat-icon> storefront</mat-icon>Produto</a></li>
        <mat-divider></mat-divider>
        <li><a href=""><mat-icon>free_breakfast</mat-icon>Sobre</a></li>
        <mat-divider></mat-divider>
     </ul>
  </nav>
</mat-toolbar>