<article class="container my-4">
    <div class="bg-light p-5 rounded">
      <h1>Visualizar os produtos</h1>
      <p class="lead">Para visualizar os produtos cadastrado no banco de dados clica em 'visualizar ou editra' logo abaixo.</p>
      <a class="btn btn-lg btn-primary" href="http://localhost/macielSevilha-php/projeto/index.php?pagina=produto" role="button">visualizar ou editar &raquo;</a>
    </div>
</article>
  

<div class="cadastro">
    <form class="form rounded-4 shadow p-3" action="" method="POST" >
        <h2>Cadastro de produto</h2>
        <p>Sobre a página clique <a href="">Aqui?</a></p>
        <input name="nome" type="text" placeholder="nome do produto">
        
        <div class="block">
            <input class="mg-left" type="number" name="quantidade" placeholder="quantidade">
            <input type="text" name="preco" placeholder="preço">
        </div>
        
        <input name="codBarra" type="text" placeholder="Codigo de barra">
        <div class="buttons">
            <button name="button" type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="submit" class="btn btn-danger" name="cancelar" onclick="cancelar()">Cancelar</button>
        </div>
    </form> 
</div>