<form class="form-alter">
    <div class="alterar-largura">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">nome</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" value="{{ nome }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">quantidade</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" value="{{ quantidade }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">preço</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" value="{{ preco }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">código barra</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" value="{{ codBarra }}">
            </div>
        </div>

        <div class="button-voltar">
            <a href="http://localhost/macielSevilha-php/projeto/index.php?pagina=produto&metodo=index" class="btn btn-danger">Voltar
                &raquo;</a>
        </div>
        <div class="button-voltar">
            <a href="http://localhost/macielSevilha-php/projeto/index.php?pagina=cadastro"
                class="btn btn-primary">Alterar cadastro</a>
        </div>
    </div>
</form>