<table class="table">
    <thead class="thead-dark">
      <tr class="table-center">
        <th scope="col">nome</th>
        <th scope="col">quantidade</th>
        <th scope="col">preco</th>
        <th scope="col">codigo barra</th>
        <th>editar ou apagar (:</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in cadastro %}
      <tr class="table-center">
        <th scope="row">{{ produto.nome }}</th>
       
        <td>
          <a href="http://localhost/macielSevilha-php/projeto/index.php?pagina=editar" class="btn btn-primary">editar</a>
          <a href="" class="btn btn-danger">apagar</a>
        </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
  <div class="button-voltar">
    <a href="http://localhost/macielSevilha-php/projeto/index.php?pagina=cadastro" class="btn btn-info">Voltar &raquo;</a>
  </div>
  