<table class="table">
    <thead class="thead-dark">
      <tr class="table-center">
        <th scope="col">nome</th>
        <th scope="col">quantidade</th>
        <th scope="col">preco</th>
        <th scope="col">codigo barra</th>
        <th>editar ou apagar (:</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-center">
        <th scope="row">Monitor</th>
        <td>1200</td>
        <td>900.99</td>
        <td>93848347353471534</td>
        <td>
          <a href="" class="btn btn-primary">editar</a>
          <a href="" class="btn btn-danger">apagar</a>
        </td>
      </tr>
      <tr class="table-center">
        <th scope="row">Monitor</th>
        <td>1200</td>
        <td>900.99</td>
        <td>93848347353471534</td>
        <td>
          <a href="" class="btn btn-primary">editar</a>
          <a href="" class="btn btn-danger">apagar</a>
        </td>
      </tr>
      <tr class="table-center">
        <th scope="row">Monitor</th>
        <td>1200</td>
        <td>900.99</td>
        <td>93848347353471534</td>
        <td>
          <a href="" class="btn btn-primary">editar</a>
          <a href="" class="btn btn-danger">apagar</a>
        </td>
      </tr>
      <tr class="table-center">
        <th scope="row">Monitor</th>
        <td>1200</td>
        <td>900.99</td>
        <td>93848347353471534</td>
        <td>
          <a href="" class="btn btn-primary">editar</a>
          <a href="" class="btn btn-danger">apagar</a>
        </td>
      </tr>
      <tr class="table-center">
        <th scope="row">Monitor</th>
        <td>1200</td>
        <td>900.99</td>
        <td>93848347353471534</td>
        <td>
          <a href="" class="btn btn-primary">editar</a>
          <a href="" class="btn btn-danger">apagar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-voltar">
    <a href="http://localhost/macielSevilha-php/projeto/index.php?pagina=cadastro" class="btn btn-info">Voltar &raquo;</a>
  </div>
  