.container {
   
}
.sidenav {
    background-color:  #3F51B5;
    width: 200px;
}
.sidenav mat-icon {
    padding-right: 5px;
}
.sidenav a{
    display: flex;
    align-items: center;
}
.content {
    background-color: red;
}